<div class="container-md mb-3">
  <div class="row">
    <div class="col-md-3">
    <h3 class="bg-light text-dark text-center">遊び一覧</h3>
    </div>
    <div class="col-md-2 h3">
      <%= link_to "遊びを追加", new_asobi_path, class: "btn btn-info btn-sm" %>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-4">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-md">
  <div class="row row-cols-1 row-cols-md-12">
    <div class="card-columns">
      <% @games.each do |game| %>
        <div class="card" style="width:300px;">
        <%= link_to asobi_path(game.id) do %>
          <%= attachment_image_tag game, :image, :fill, 298, 150, format: 'jpeg', fallback: image-url("noimage.jpg"), size:'298x150' %>
        <div class="card-body">
          <h4 class="card-title">
            <%= truncate(game.title, length:13) %>
          </h4>
        <% end %>
        <p class="card-text">
          場所：<%= truncate(game.address, length:15) %>
          <br>
          参加：<%= game.joins.count %>/<%= game.number %>人　コメント数：<%= game.post_comments.count %>
          <br>
          投稿者：<%= game.member.user_name %>
        </p>
      </div>
    </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container-md">
  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="d-flex justify-content-center h6">
        <%= paginate @games %>
      </div>
    </div>
  </div>
</div>
