
<li>
<% notifications.each do |notification| %>
  <% case notification.action %>
  <% when 'comment' then %>
    <h2>
      <%= notification.visitor.user_name %>より
      <%= link_to asobi_path(notification.game.id) do %>
        <%= notification.game.title %>
      <% end %>
      にコメントが届きました。
    </h2>
    <p class="n-time"><%= time_ago_in_words(notification.created_at).upcase %>前</p>
  <% when 'join' then %>
    <h2>
      <%= notification.visitor.user_name %>が
      <%= link_to asobi_path(notification.game.id) do %>
        <%= notification.game.title %>
      <% end %>
      に参加希望を表明しました。
    </h2>
    <p class="n-time"><%= time_ago_in_words(notification.created_at).upcase %>前</p>
  <% end %>
<% end %>
</li>

  <!--%= notification_form(notification) %>-->
<!--% end %>-->