<div class="container-md mb-5">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h3 class="bg-light text-dark text-center">マイページ</h3>
    </div>
  </div>

  </br>

  <div class="row">
    <div class="col-md-2 h3">登録情報</div>
    <div class="col-md-3"><%= link_to "編集する", customers_edit_path, class: "btn btn-success" %></div>
  </div>

  </br>

  <div class="row">
    <div class="col-md-7">
      <table class="table col-md-12 table-bordered">
        <tr>
          <th class="table-secondary col-md-4">氏名</th>
          <td class="col-md-8"><%= @member.last_name %> <%= @member.first_name %></td>
        </tr>
        <tr>
          <th class="table-secondary col-md-4">フリガナ</th>
          <td class="col-md-8"><%= @member.last_name_kana %> <%= @member.first_name_kana %></td>
        </tr>
        <tr>
          <th class="table-secondary col-md-4">ユーザーネーム</th>
          <td class="col-md-8"><%= @member.user_name %></td>
        </tr>
        <tr>
          <th class="table-secondary col-md-4">メールアドレス</th>
          <td class="col-md-8"><%= @member.email %></td>
        </tr>
      </table>
    </div>
  </div>

  </br>

  <div class="row">
    <div class="col-md-2 h3">投稿一覧</div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table col-md-12 table-bordered">
        <thead class="table-secondary">
          <tr>
            <th style="width: 65%" scope="col">タイトル</th>
            <th style="width: 10%" scope="col">推奨</th>
            <th style="width: 10%" scope="col">参加</th>
            <th style="width: 15%" scope="col">状態</th>
          </tr>
        </thead>
        <tbody>
          <% @games.each do |game| %>
            <tr scope="col">
              <td class="p-2">
                <%= link_to asobi_path(game.id) do %>
                  <%= game.title %>
                <% end %>
              </td>
              <td class="p-2">
                <%= game.number %>
              </td>
              <td class="p-2">
                <%= game.joins.count %>
              </td>
              <td class="p-2">
                <%= game.is_active ? '受付中' :'停止'  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<!--参加希望した投稿-->
  <div class="row">
    <div class="col-md-3 h3">参加希望一覧</div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <table class="table col-md-12 table-bordered">
        <thead class="table-secondary">
          <tr>
            <th style="width: 47%" scope="col">タイトル</th>
            <th style="width: 7%" scope="col">推奨</th>
            <th style="width: 7%" scope="col">参加</th>
            <th style="width: 30%" scope="col">場所</th>
            <th style="width: 9%" scope="col">状態</th>
          </tr>
        </thead>
        <tbody>
          <% @join.each do |join| %>
            <tr scope="col">
              <td class="p-2">
                <%= link_to asobi_path(join.game.id) do %>
                  <%= join.game.title %>
                <% end %>
              </td>
              <td class="p-2">
                <%= join.game.number %>
              </td>
              <td class="p-2">
                <%= join.game.joins.count %>
              </td>
              <td class="p-2">
                <%= join.game.address %>
              </td>
              <td class="p-2">
                <%= join.game.is_active ? '受付中' :'停止'  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>



</div>