<!DOCTYPE html>
<html>
  <head>
    <title>ASOBILink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/71eae7e7d8.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="border-bottom border-dark">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">ASOBILink</a>
        <div>
          <ul class="navbar-nav ml-auto">

         <!--サインインの場合-->
            <% if member_signed_in? %>
              <li class="header_rist">
                <%= link_to "探す", asobis_path, class: "btn btn-info btn-sm" %>
              </li>
              <li class="header_rist">
                <%= link_to "投稿する", new_asobi_path, class: "btn btn-info btn-sm" %>
              </li>
              <li class="header_rist">
                <%= link_to "通知", notifications_path, class: "btn btn-info btn-sm" %>
              </li>
              <li class="header_rist">
                <%= link_to "マイページ", customers_path, class: "btn btn-info btn-sm" %>
              </li>
              <li class="header_rist">
                <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "btn btn-info btn-sm" %>
              </li>

          <!--サインイン前-->
            <% else %>
              <li class="header_rist">
                <%= link_to "トップ", href="/", class: "btn btn-info btn-sm" %>
              </li>
              <li class="header_rist">
                <%= link_to "探す", asobis_path, class: "btn btn-info btn-sm" %>
              </li>
              <li class="header_rist">
                <%= link_to "ログイン", new_member_session_path, class: "btn btn-info btn-sm" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <br>

    <%= yield %>
  </body>
</html>
